.inner-page-tours-header {
    margin-bottom: 60px;
    text-align: center;
}

.inner-page-tours-header a {    /* Ошибка 404 */
    text-decoration: none;
    color: #138ece;
}

.inner-page-tours-header a:hover {  /* Ошибка 404 */
    text-decoration: underline;
    opacity: 0.7;
}
