.header {
    position: relative;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url("../img/header/header-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url("../img/header/header-small-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
}

.header-nav-link:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.header-nav {
    font-size: 22px;
    color: #FFFFFF;
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item {
    margin-right: 50px;
}

.header-nav-list-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1170px;
}

.header-title {
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
}

.header-content p {
    font-size: 24px;
    color: #FFFFFF;
}

.header-scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    display: inline-block;
    padding-bottom: 34px;

    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header-scroll::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/header/arrow-down.svg");
}